@model Person

<h3>@ViewData["Message"]</h3>

<ul>
    <li>First: @Model.FirstName</li>
    <li>Last: @Model.LastName</li>
    <li>Birth Date: @Model.BirthDate</li>
</ul>

<form asp-controller="Home" asp-action="AddNewPerson" method="POST">
    <div class="form-group">
        <label for="firstname">First :</label>
        <input class="form-control" type="text" id="firstname" asp-for="FirstName" placeholder="Titi"/>
    </div>

    <div class="form-group">
        <label for="lastname">Last :</label>
        <input class="form-control" type="text" id="lastname" asp-for="LastName" placeholder="Aur"/> 
    </div>

    <div class="form-group">
        <label for="firstname">Birth Date :</label>
        <input class="form-control" type="text" id="birthday" asp-for="BirthDate" placeholder="29.02.1984"/>
    </div>    
    
    <button class="btn btn-danger" type="submit" value="Submit">Submit</button>
</form>



<p>Persoane Fizice ATA.</p>
