@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    @*One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100*@    
    <p>DN1A, Soseaua Bucuresti-Targoviste 205, Cocani</p>
    <p>Tel: 0755800500</p>
    <p>eMail: Raluca.Creata@titiaur.ro</p>
</address>


    