@model List<Person>



<table class="table">
    <!-- On cells (`td` or `th`) -->
    <tr class="active">
        <td class="alert-warning">First Name</td>
        <td class="alert-warning">Last Name</td>
        <td class="alert-warning">Birth Date</td>
        <td class="alert-warning">CNP</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr class="active">
            <td class="info">@item.FirstName</td>
            <td class="info">@item.LastName</td>
            <td class="info">@item.BirthDate</td>
            <td class="info">@item.CNP</td>
        </tr>
    }
</table>


<p>Persoane Fizice ATA.</p>
